.blog-item-onepic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.carousel-item-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-item-onepic-container img {
  width: 100% !important;
}

.carousel-indicators button {
  width: 7px !important;
  height: 6px !important;
  border-radius: 50% !important;
  background-color: #ffa702 !important;
}

.carousel-indicators {
  bottom: -35% !important;
}
