.bd-sidebar .offcanvas-body .nav-item button {
  width: 50%;
  border: none;
  border-radius: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 991px) {
  .bd-sidebar .offcanvas-backdrop.show {
    opacity: 0;
  }
  .bd-sidebar .offcanvas-body .nav-item button {
    width: 90%;
  }
}

.bd-sidebar .offcanvas-body .nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bd-sidebar .offcanvas-body .nav-item .nav-link {
  color: white !important;
}

[data-bs-theme="light"] {
  .sidebar-btn {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), #a1a1a1);
    /* backdrop-filter: blur(10px); */
    border: 1px solid black;
    /* color: #000; */
    /* padding: 10px 20px; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .bd-sidebar .offcanvas-body .nav-item .nav-link {
    color: black !important;
  }
}

[data-bs-theme="dark"] {
  .sidebar-btn {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
    /* backdrop-filter: blur(10px); */
    border: 1px solid black;
    /* color: #000; */
    /* padding: 10px 20px; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .sidebar-btn {
    width: 100% !important;
  }
}
