.signup-container {
  margin-top: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #425966 !important;
  min-height: 90vh;
}

.signup-logo {
  width: 100% !important;
}

.signup-row {
  align-items: center;
  justify-content: space-evenly;
}

.header {
  background-color: #425966 !important;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header h3 {
  color: yellow;
  text-shadow: 2px 2px black;
}

.login-page {
  min-height: 100%;
  background-color: #425966 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.gradient-follow {
  position: absolute;
  top: -5%;

  left: -5%;
  width: 10%; /* Adjust the size as needed */
  height: 10vh; /* Adjust the size as needed */
  background: radial-gradient(black, transparent);
  border-radius: 50vh;
  mix-blend-mode: overlay; /* Optional: To blend the gradient with the background */
  pointer-events: none;
  transition: transform 0.2s; /* Add a smooth transition */
}

.login-page-content {
  display: flex;
  flex-direction: column;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 991px) {
  .login-form-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input,
.login-form input::placeholder {
  background: transparent !important;
  color: white !important;
  /* background-color: rgba(255, 255, 255, 0.07) !important;
  color: black !important;*/

  /*font-weight: bold !important;
  text-shadow: 1px 1px black;
*/
}

.login-form input:-webkit-autofill {
  background: transparent !important;
  color: white !important;
}

input:-internal-autofill-selected {
  background: transparent !important;
  color: white !important;
}

#loginBtn,
#signupBtn {
  width: 100%;
}

#signupBtn {
  background-color: #426643;
  border-color: rgb(190, 205, 50);
}

.loginBtn-container,
.signupBtn-container {
  width: 100%;
  align-self: center;
}

.signup-div {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.signup-div a {
  text-decoration: none;
  color: white;
}

.text-between-lines {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: rgb(62, 62, 62);
}

.text {
  padding: 0 15px;
}

.card-container {
  position: relative;
}

.card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the background color and opacity as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
  z-index: -1;
}

.spline {
  @media (max-width: 662px) {
    transform: scale(0.5);
  }
  @media (max-width: 440px) {
    transform: scale(0.5) translateX(-200px);
  }
}
